@import url('./fonts.css');
@import url('./partials/_variables.css');
@import url('./partials/_global.css');
 


.header_area{
  display: flex;
}


.header_area .main-menu .nav-item .nav-link{
    font-family: "Roboto", cursive;
    text-transform: uppercase;
    font-weight: 300;
    padding: 1rem;
    color: black;
    
}

.header_area .main-menu .navbar-nav .active a{
     background:var(--gradient-color);
     -webkit-background-clip: text;
     -webkit-text-fill-color:transparent;
     background-clip: text;
}

.header_area .main-menu .navbar-nav a:hover{
    background:var(--gradient-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color:transparent;
    background-clip: text;  
}
.site-main .site-banner{
     background-color: white;
     }


.site-main .site-banner .site-title .title-text{
   text-align: center;
    margin-left: 50px;
   
}

.site-main .site-banner .site-title h3{
   padding-top:20%;

}
.site-main .site-banner .site-title h1{
    padding-top: 4%;
 }

 .site-main .site-banner .site-title h4{
    padding-top: 4%;
    text-align: center;
 }
.site-main .site-banner .site-title h3::after{
    content: " ";
    height: 2px;
    width: 9vw;
    background: black;
    display: inline-block;
    margin-left: 5%;
    transform: translateY(-10px);
 }
 .site-main .site-banner .image{
     padding-top: 4%;
     left: 330px;
 }

 .about-area .site-title h2{
    padding-top: 5%;
     text-align:left;
     margin-left: 50px;
 }
 .about-area .site-title p{
     padding-top: 3%;
     margin-left: 100px;
     margin-right: 100px;
     text-align: center;
     font-size: 20px;
     
 }

.about-area .secondary-button{
    margin-left: 600px;
    margin-top: 40px;
    margin-bottom: 40px;
}
.flex-container {
   margin-top: 30px;
    display: flex;
    flex-wrap: nowrap;
    background-color:white;
  }
  
  .flex-container > div {
    background-color :  #d2cdcd;
    width: 50px;
    margin: 30px;
    border: 2px #6d79bb ;
    text-align: center;
    line-height: 50px;
    font-size: 15px;
    font-family: "Roboto", cursive;
  }

 .skill-area .h1{
     background-color:#6d79bb ;
 }

 .skill-area .image{
     margin-top: 4%;
     margin-left: 35%;
 }

 .grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: #6d79bb;
    padding: 5px;
    margin-top: 2%;
  }
  .grid-item {
    background-color: #d2cdcd;
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }
  .skill-area{
      background-color: #d2cdcd;
     margin-top: 4%;
  }

  .skill-area h2{
      padding-top: 30px;
      padding-bottom: 30px;
      text-align: center;
      text-transform: uppercase;
      
  }
  .skill-area h3{
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    
    
}

   .my-skills::after{
             content: ' ';
            display: block;
            clear: both;
  }


  .skill-area .my-skills .col-left, .skill-area .my-skills .col-center, .skill-area .my-skills .col-right{
      width: 33.3333333%;
      display: inline-block;
      float: left;
  }

  .skill-area .my-skills .logo{
      margin-left: 30%;
  }

  .project-area h2{
    padding-top: 90px;
    padding-bottom: 50px;
    margin-bottom: 1%;
    text-align: center;
    text-transform: uppercase;
    position: relative;
}

.project-area .project1, .project-area .project2, .project-area .project3{
    height: 270px;
    width: 28%;
    background-color: white;
    float: left;
    position: relative;
    overflow: hidden;
    margin-top: 1%;
    box-shadow: grey;

}

.project-area .project1{
    margin-left: 3%;
    margin-right: 2%;
    background-image: url(../img/project/Capture.PNG);
    background-size: cover;
}

.project-area .project2{
    margin-left: 2%;
    margin-right: 2%;
    background-image: url(../img/project/blog.PNG);
    background-size: cover;
}

.project-area .project3{
    margin-left: 2%;
    margin-right: 3%;
}

.project-area .overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    padding-top: 130px;
    padding-left: 130px;
}

.project-area .overlay:hover{
    background-color: rgba(0, 0, 0, 0.6);
    padding-top: 150px;
    transition: all 0.5s ease;
}
.overlay a{
    
    display: inline-block;
    font:  18px ;
    padding: 10px 20px;
    border: 1px solid white;
    text-decoration: none;
    font-weight: bold;
    color: white;
}

.project-area .secondary-button{
  margin-top: 4%;
  margin-left: 45%;
}
.prt_about_edulearn_wrapper {
    display: inline-block;
    width: 100%;
    margin-top: 7rem;
    margin-bottom: 7rem;
    //animation: fade_up 2s 4s;
  }
  .timeline-heading{
    text-align: center;
    font-weight: 400;
  }
  //#6c63ff
  //#868e96
  //#0a52d6
  .prt_heading_wrapper {
    text-align: center;
  }
  .prt_about_learnsection {
    width: 100%;
    position: relative;
    z-index: 1;
  }
  
  .prt_heading {
    margin-bottom: 50px;
    position: relative;
    transition: all .3s;
  }
  .prt_btn, .prt_heading {
    display: inline-block;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
  }
  .prt_heading h1 {
    font-size: 40px;
    position: relative;
    width: auto;
    left: 520px;
    padding-bottom: 15px;
  }
  .prt_heading h1, .prt_heading p {
    //text-transform: uppercase;
    margin: 0;
    font-weight: 400;
  }
  
  .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
    line-height: 1.1;
    color: #000000;
  }
  .prt_heading p {
    text-align: right;
    width: auto;
    background-color: #010101;
    padding-left: 10px;
    position: absolute;
    right: 0;
    bottom: -10px;
    color: #6c63ff;
  }
  
  .prt_about_learnbox_info {
    display: table-cell;
    width: calc(100% - 200px);
  }
  .prt_about_learnbox_info h4 {
    font-size: 18px;
    text-transform: capitalize;
    margin-top: 0;
    font-weight: 500;
  }
  .prt_about_learnbox_info span {
    color: #000;
    text-transform: capitalize;
    margin-bottom: 10px;
    color: #868e96;
  }
  .prt_about_learnbox_info p {
    margin: 0;
    color: #868e96;
  }
  .prt_about_learnbox_right {
    display: table;
    width: 100%;
    margin-bottom: 30px;
    position: relative;
    -o-transition: all .3s;
    transition: all .3s;
  }
  .prt_about_learnbox_left {
    display: table;
    width: 100%;
    margin-bottom: 30px;
    text-align: right;
    position: relative;
    -o-transition: all .3s;
    transition: all .3s;
  
  
  }
 
  .mar-left{
    margin-left: 50%;
    padding-left: 2rem;
    @media (max-width: 768px) {
      margin: 0;
    }
  }
  .mar-right{
    margin-right: 50%;
    padding-right: 2rem;
    @media (max-width: 768px) {
      margin: 0;
    }
  }
  .prt_about_learnbox_left .prt_about_learnbox_year {
    float: right;
    padding-top: 30px;
  }
  .prt_about_learnbox_year {
    display: table-cell;
    width: 200px;
    vertical-align: middle;
  }
  .prt_about_learnbox_left .prt_about_learnbox_info {
    float: left;
  }
  .prt_about_learnbox_info {
     display: table-cell;
     width: calc(100% - 200px);
   }
  .prt_about_learnbox_year h1 {
    font-size: 60px;
    margin: 0;
    color: #a1bcd8;
    font-weight: 500;
  }
  
  
  
  .prt_about_learnsection:after {
    content: "";
    position: absolute;
    background-color: #202020;
    width: 2px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: -1;
  
    @media (max-width: 768px) {
          width: 0;
      visibility: hidden;
      }
    }
  
  
  .prt_about_learnbox_left:after,
  .prt_about_learnbox_right:after {
    content: "";
    height: 15px;
    top: 50%;
    margin-top: -7px
  }
  
  .prt_about_learnbox_right {
    display: table;
    width: 100%;
    margin-bottom: 30px;
    position: relative;
    -o-transition: all .3s;
    transition: all .3s
  }
  
  .prt_about_learnbox_right:after {
    position: absolute;
    background-color: #000;
    width: 15px;
    border-radius: 100%;
    border: 0px solid #fff;
    left: -41px;
    -o-transition: all .3s;
    transition: all .3s;
    z-index: 100;
    @media (max-width: 768px) {
      visibility: hidden;
    }
  }
  
  .prt_about_learnbox_left,
  .prt_about_learnbox_right:hover:after {
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s
  }
  
  .prt_about_learnbox_right:hover:after {
    background-color: #fff;
    border: 3px solid #6c63ff;
    -o-transition: all .3s;
    transition: all .3s
  }
  
  .prt_about_learnbox_left {
    display: table;
    width: 100%;
    margin-bottom: 30px;
    text-align: right;
    position: relative;
    -o-transition: all .3s;
    transition: all .3s
  }
  
  .prt_about_learnbox_left:after,
  .prt_about_learnbox_left:hover:after {
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s
  }
  
  .prt_about_learnbox_left:after {
    position: absolute;
    background-color: #000;
    width: 15px;
    border-radius: 100%;
    border: 0px solid #fff;
    right: -39px;
    -o-transition: all .3s;
    transition: all .3s;
    z-index: 100;
    @media (max-width: 768px) {
      visibility: hidden;
    }
  }
  
  .prt_about_experiencebox:after,
  .prt_contact_details_box:after,
  .prt_couter_wrapper:after {
    right: 0;
    bottom: 0;
    content: ""
  }
  
  .prt_about_learnbox_left:hover:after {
    background-color: #fff;
    border: 3px solid #6c63ff;
    -o-transition: all .3s;
    transition: all .3s
  }
  
  .prt_about_learnbox_left:hover .prt_about_learnbox_year h1,
  .prt_about_learnbox_right:hover .prt_about_learnbox_year h1 {
    color: #6c63ff;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    /* -webkit-animation-duration: 2s; */
    /* -moz-animation-duration: 2s; */
    /* -ms-animation-duration: 2s; */
    /* -o-animation-duration: 2s; */
    /* animation-duration: 2s; */
    /* -webkit-animation-delay: .3s; */
    /* -moz-animation-delay: .3s; */
    /* -ms-animation-delay: .3s; */
    /* -o-animation-delay: .3s; */
    /* animation-delay: .3s; */
    /* animation-iteration-count: infinite; */
    /* animation-name: pulse */
  }
  
  
  @media (max-width: 768px) {
    .prt_about_learnbox_left, .prt_about_learnbox_right {
  
      border-bottom: 1px solid #202020;
      padding-bottom: 30px;
    }
  }
  //@media (max-width: 320px) {
  //  .main-button {
  //    font-size: 12px;
  //  }
  //}
  /* Animations */
  @keyframes fade_down {
    0% {
      opacity: 0.01;
      transform: translateY(-20px);
      transition: opacity 300ms cubic-bezier(0.645, 0.045, 0.355, 1),
      transform 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
    }
    100% {
      opacity: 1;
      transform: translateY(0px);
      transition: opacity 300ms cubic-bezier(0.645, 0.045, 0.355, 1),
      transform 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
    }
  }
  
  @keyframes fade_up {
    0% {
      opacity: 0.01;
      transform: translateY(20px);
      transition: opacity 300ms cubic-bezier(0.645, 0.045, 0.355, 1),
      transform 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
    }
    100% {
      opacity: 1;
      transform: translateY(0px);
      transition: opacity 300ms cubic-bezier(0.645, 0.045, 0.355, 1),
      transform 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
    }
  }
  @keyframes fade_right {
    0% {
      opacity: 0.01;
      transform: translateX(20px);
      transition: opacity 300ms cubic-bezier(0.645, 0.045, 0.355, 1),
      transform 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
    }
    100% {
      opacity: 1;
      transform: translateX(0px);
      transition: opacity 300ms cubic-bezier(0.645, 0.045, 0.355, 1),
      transform 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
    }
  }
  @keyframes fade_left {
    0% {
      opacity: 0.01;
      transform: translateX(-100px);
      transition: opacity 300ms cubic-bezier(0.645, 0.045, 0.355, 1),
      transform 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
    }
    100% {
      opacity: 1;
      transform: translateX(0px);
      transition: opacity 300ms cubic-bezier(0.645, 0.045, 0.355, 1),
      transform 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
    }
  }

 .contact h2{
   color: white;
   text-align: center;
 } 




 footer{
   position: absolute;
   background:#111;
   height: auto;
   width: 100vw;
   padding-top: 40px;
   color: white;

 }

 .contact{
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
 }

 .contact .box{
  list-style: none;
  display: flex;
 }

 .box li{
   padding-top: 1%;
   margin: 10px 10px;
 }

 .box a{
   text-decoration: none;
   color: white;
 }

 .box a i{
   font-size: 1.1rem;
   transition: color .4s ease;

 }

 .box a:hover i{
     color: aqua;
 }
 .footer-bottom{
   background: #000;
   width: 100vw;
   padding: 10px 0;
   text-align: center;
 }

 .footer-bottom p{
   padding-top: 1%;
   font-size: 14px;
   word-spacing: 2px;
   text-transform: capitalize;
 }

 .footer-bottom span{
   opacity: .4;
 }